<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PETSystem.Properties.Settings.INF370ConnectionString"
            connectionString="Data Source=JOHN-MAC-WIN;Initial Catalog=INF370;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PETSystem.Properties.Settings.inf370RegConnectionString"
            connectionString="Data Source=JOHN-MAC-WIN;Initial Catalog=inf370Reg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PETSystem.Properties.Settings.inf370RegConnectionString1"
            connectionString="Data Source=.;Initial Catalog=inf370Reg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PETSystem.Properties.Settings.INF370ConnectionString1"
            connectionString="Data Source=JWM\SYSARCH;Initial Catalog=INF370;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PETSystem.Properties.Settings.inf370RegConnectionString2"
            connectionString="Data Source=JWM\SYSARCH;Initial Catalog=inf370Reg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PETSystem.Properties.Settings.NewestDBExportConnectionString"
            connectionString="Data Source=.;Initial Catalog=NewestDBExport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PETSystem.Properties.Settings.exportFotosConnectionString"
            connectionString="Data Source=JOHN-MAC-WIN;Initial Catalog=exportFotos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PETSystem.Properties.Settings.RefIntegrityExportConnectionString"
            connectionString="Data Source=.;Initial Catalog=RefIntegrityExport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>